<div class="header">
  <div class="title">
    <h1>Wikiiiiii</h1>
  </div>
  <div class="right btn btn-primary">
    <%= link_to "Create", new_article_path(@article) %>
  </div>

</div>
<div class="content">
  <% @articles.each do |article| %>
    <div class="item">
      <h4><%= link_to article.title, article_path(article) %></h4>
      <%= article.content %>
    </div>
  <%end%>
</div>

